In [1]:
import sys
import os
import logging

msg_format = "%(asctime)s|%(levelname)s|%(filename)s:%(lineno)d| %(message)s"
date_format = "%d-%b-%y %H:%M:%S"
logging.basicConfig(level=logging.INFO, format=msg_format, datefmt=date_format, stream=sys.stdout)

pwd = os.getcwd()
module_path = f"{pwd}\..\src"
sys.path.insert(0, module_path)

from datetime import datetime
from hostelprices.scrape_web import ScrapeWeb
from hostelprices.utils import Utils
from hostelprices.database import Database

%load_ext autoreload
%autoreload 2

In [9]:
"â‚¬31.294452347083926"[1:].isdigit()

False

In [2]:
client_id = Utils.fromConfig('mongo_client')
data_base_name = Utils.fromConfig('data_base_name')
collection_name = "main_coll-dev-12_14_2022-15_07"

DB = Database(
    client_id=client_id, data_base_name=data_base_name, collection_name=collection_name
    )

In [3]:
DB.totalSize

0.188416

In [4]:
df = DB.getPandasDf({})

In [5]:
df

,_id,price (EUR),rating,distance (km),city,date_from,duration (days),request_time
0,6399e6df1c47f5555e9551c1,29.397819,9.7,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
1,6399e6df1c47f5555e9551c2,24.656235,9.6,0.4,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
2,6399e6df1c47f5555e9551c3,18.966335,9.3,1.3,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
3,6399e6df1c47f5555e9551c4,22.759602,9.2,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
4,6399e6df1c47f5555e9551c5,24.656235,9.7,0.3,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
5,6399e6df1c47f5555e9551c6,18.966335,9.5,1.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
6,6399e6df1c47f5555e9551c7,18.966335,9.3,0.8,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
7,6399e6df1c47f5555e9551c8,18.966335,9.0,0.2,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
8,6399e6df1c47f5555e9551c9,18.966335,9.6,0.2,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
9,6399e6df1c47f5555e9551ca,33.191086,8.0,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
10,6399e6df1c47f5555e9551cb,18.966335,9.5,0.2,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
11,6399e6df1c47f5555e9551cc,22.759602,8.7,1.1,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
12,6399e6df1c47f5555e9551cd,17.069701,8.9,1.4,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
13,6399e6df1c47f5555e9551ce,16.121385,8.1,0.8,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
14,6399e6df1c47f5555e9551cf,18.018018,8.7,1.0,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
15,6399e6df1c47f5555e9551d0,21.811285,9.4,0.3,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
16,6399e6df1c47f5555e9551d1,45.519203,7.8,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
17,6399e6df1c47f5555e9551d2,19.914651,9.5,3.6,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
18,6399e6df1c47f5555e9551d3,18.018018,9.3,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
19,6399e6df1c47f5555e9551d4,19.914651,6.4,1.2,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
20,6399e6df1c47f5555e9551d5,21.811285,8.8,0.9,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
21,6399e6df1c47f5555e9551d6,17.069701,7.8,2.1,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
22,6399e6df1c47f5555e9551d7,21.811285,9.3,0.4,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
23,6399e6df1c47f5555e9551d8,18.018018,8.8,0.3,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
24,6399e6df1c47f5555e9551d9,21.811285,9.2,0.5,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
25,6399e6df1c47f5555e9551da,23.707918,8.2,2.2,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
26,6399e6df1c47f5555e9551db,23.707918,8.4,0.1,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418
27,6399e6df1c47f5555e9551dc,16.121385,8.1,0.8,Lisbon,2023-02-13,2,2022-12-14 15:08:14.418