In [1]:
import sys
import os
import logging

msg_format = "%(asctime)s|%(levelname)s|%(filename)s:%(lineno)d| %(message)s"
date_format = "%d-%b-%y %H:%M:%S"
logging.basicConfig(level=logging.INFO, format=msg_format, datefmt=date_format, stream=sys.stdout)

pwd = os.getcwd()
module_path = f"{pwd}\..\src"
sys.path.insert(0, module_path)

from datetime import datetime
from hostelprices.scrape_web import ScrapeWeb
from hostelprices.utils import Utils
from hostelprices.database import Database

%load_ext autoreload
%autoreload 2

In [2]:
client_id = Utils.fromConfig('mongo_client')
data_base_name = Utils.fromConfig('data_base_name')
collection_name = "test_coll"

DB = Database(
    client_id=client_id, data_base_name=data_base_name, collection_name=collection_name
    )

In [3]:
city_list = ['Lisbon']#, 'Seville']
date_from_list = [datetime(2023, 2, 13)]#, datetime(2023, 2, 1)]
duration_list = [2]#, 5]
max_pages = 1

In [4]:
df_all = ScrapeWeb.loop(
    city_list=city_list, date_from_list=date_from_list, duration_list=duration_list, 
    max_pages=max_pages
    )

09-Dec-22 15:23:42|ERROR|scrape_web.py:157| Lisbon, 2023-02-13 00:00:00, 2
09-Dec-22 15:23:42|INFO|scrape_web.py:166| https://www.hostelworld.com/s?q=Lisbon,%20Portugal&country=Portugal&city=Lisbon&type=city&id=725&from=2023-2-13&to=2023-2-15&guests=1&page=1
09-Dec-22 15:23:42|INFO|logger.py:11| ====== WebDriver manager ======
09-Dec-22 15:23:44|INFO|logger.py:11| Get LATEST geckodriver version for 107.0 firefox

[WDM] - Downloading: 19.0kB [00:00, 6.44MB/s]

09-Dec-22 15:23:46|INFO|logger.py:11| Driver [C:\Users\fsgl1\.wdm\drivers\geckodriver\win64\0.32\geckodriver.exe] found in cache

In [5]:
df_all

,price (EUR),rating,distance (km),city,date_from,duration (days),request_time
3,29.0,9.7,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
4,24.0,9.7,0.4,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
5,19.0,9.3,1.3,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
6,20.0,9.2,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
7,25.0,9.7,0.3,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
8,19.0,9.5,1.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
9,18.0,9.3,0.8,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
10,19.0,9.0,0.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
11,33.0,8.0,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
12,19.0,9.6,0.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
13,19.0,9.5,0.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
14,23.0,8.7,1.1,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
15,17.0,8.1,0.8,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
16,100.0,8.9,1.4,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
18,22.0,9.4,0.3,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
19,18.0,8.7,1.0,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
20,45.0,7.8,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
21,20.0,6.4,1.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
22,20.0,9.5,3.6,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
23,18.0,9.3,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
24,22.0,8.8,0.9,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
25,22.0,9.3,0.4,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
26,14.0,7.8,2.1,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
27,18.0,8.8,0.3,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
28,22.0,9.1,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
30,24.0,8.2,2.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
31,23.0,8.4,0.1,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351
32,20.0,8.0,1.2,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553351

In [6]:
DB.totalSize

40960

In [7]:
DB.addPandasDf(df_all)

In [8]:
request_dct = {'city': 'Lisbon', 'price (EUR)': 29}
df = DB.getPandasDf(request_dct)

In [10]:
DB.totalSize

73728

In [11]:
df

,_id,price (EUR),rating,distance (km),city,date_from,duration (days),request_time
0,6393360a8b2476d437fd36d9,29.0,9.7,0.5,Lisbon,2023-02-13,2,2022-12-09 14:18:33.360
1,6393450033f4d602f7e7eb23,29.0,9.7,0.5,Lisbon,2023-02-13,2,2022-12-09 15:23:59.553

In [12]:
DB.db.list_collection_names()

['test_coll']

In [13]:
DB.db.command("dbstats")

{'db': 'HOSTEL_PRICE_DATA',
 'collections': 1,
 'views': 0,
 'objects': 56,
 'avgObjSize': 161.0,
 'dataSize': 9016,
 'storageSize': 36864,
 'totalFreeStorageSize': 0,
 'numExtents': 0,
 'indexes': 1,
 'indexSize': 36864,
 'indexFreeStorageSize': 0,
 'fileSize': 0,
 'nsSizeMB': 0,
 'ok': 1}

In [17]:
# DB.clear()
DB.totalSize

0.073728