In [50]:
import sys
import os
import logging

msg_format = "%(asctime)s|%(levelname)s|%(filename)s:%(lineno)d| %(message)s"
date_format = "%d-%b-%y %H:%M:%S"
logging.basicConfig(level=logging.INFO, format=msg_format, datefmt=date_format, stream=sys.stdout)

pwd = os.getcwd()
module_path = f"{pwd}\..\src"
sys.path.insert(0, module_path)

import pymongo
import pandas as pd
import json
from datetime import datetime
from hostelprices.scrape_web import ScrapeWeb
from hostelprices.utils import Utils
from hostelprices.database import Database

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
def main():

    client_id = Utils.fromConfig('mongo_client')
    data_base_name = Utils.fromConfig('data_base_name')
    collection_name = "test_coll"

    DB = Database(
        client_id=client_id, data_base_name=data_base_name, collection_name=collection_name
        )
    

    city_list = Utils.fromConfig('city_selection')
    date_from_list = Utils.fromConfig('date_selection')
    duration_list = Utils.fromConfig('duration_selection')
    max_pages = Utils.fromConfig('max_pages')

    df = LoadData.loop(
    city_list=city_list, date_from_list=date_from_list, duration_list=duration_list, 
    max_pages=max_pages
    )

    DB.addPandasDf(df)

In [67]:
client_id = Utils.fromConfig('mongo_client')
data_base_name = Utils.fromConfig('data_base_name')
collection_name = "test_coll"

DB = Database(
    client_id=client_id, data_base_name=data_base_name, collection_name=collection_name
    )

In [15]:
city_list = ['Lisbon', 'Seville']
date_from_list = [datetime(2022, 11, 13)]#, datetime(2023, 2, 1)]
duration_list = [2]#, 5]
max_pages = 1

In [16]:
df_all = ScrapeWeb.loop(
    city_list=city_list, date_from_list=date_from_list, duration_list=duration_list, 
    max_pages=max_pages
    )

16-Oct-22 10:44:19|INFO|scrape_web.py:144| https://www.hostelworld.com/s?q=Lisbon,%20Portugal&country=Portugal&city=Lisbon&type=city&id=725&from=2022-11-13&to=2022-11-15&guests=1&page=1
16-Oct-22 10:44:19|INFO|logger.py:11| ====== WebDriver manager ======
16-Oct-22 10:44:21|INFO|logger.py:11| Get LATEST geckodriver version for 105.0 firefox

[WDM] - Downloading: 19.0kB [00:00, 9.76MB/s]

16-Oct-22 10:44:23|INFO|logger.py:11| Driver [C:\Users\fsgl1\.wdm\drivers\geckodriver\win64\0.32\geckodriver.exe] found in cache
16-Oct-22 10:44:34|INFO|scrape_web.py:144| https://www.hostelworld.com/s?q=Seville,%20Spain&country=Spain&city=Seville&type=city&id=1565&from=2022-11-13&to=2022-11-15&guests=1&page=1
16-Oct-22 10:44:34|INFO|logger.py:11| ====== WebDriver manager ======
16-Oct-22 10:44:36|INFO|logger.py:11| Get LATEST geckodriver version for 105.0 firefox

[WDM] - Downloading: 19.0kB [00:00, 18.3MB/s]

16-Oct-22 10:44:38|INFO|logger.py:11| Driver [C:\Users\fsgl1\.wdm\drivers\geckodriver\win64\0.32\geckodriver.exe] found in cache

In [17]:
df_all

,price (EUR),rating,distance (km),city,date_from,duration (days),request_time
6,29.0,9.7,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
7,24.0,9.7,0.4,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
8,27.0,9.7,0.3,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
9,18.0,9.2,1.3,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
10,25.0,9.2,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
11,28.0,9.2,0.8,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
12,24.0,9.4,1.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
13,26.0,8.0,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
14,25.0,8.1,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
15,29.0,9.1,0.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
16,17.0,8.3,0.8,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
17,29.0,9.7,0.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
18,29.0,9.5,1.0,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
19,25.0,9.5,0.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
20,30.0,7.9,2.1,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
21,30.0,8.8,1.0,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
22,18.0,8.8,0.9,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
23,41.0,8.7,1.1,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
24,24.0,9.4,0.3,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
25,17.0,6.5,1.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
26,22.0,9.4,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
27,28.0,8.9,1.4,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
28,25.0,9.4,3.6,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
29,26.0,8.9,0.3,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
30,20.0,8.1,2.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
31,24.0,9.3,0.4,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
32,22.0,9.3,0.5,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
33,36.0,8.3,1.2,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
35,23.0,8.7,0.3,Lisbon,2022-11-13,2,2022-10-16 10:44:34.528324
2,18.0,9.0,1.3,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
3,29.0,9.6,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
4,21.0,9.0,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
5,23.0,9.1,1.0,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
6,35.0,9.6,0.7,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
7,18.0,8.9,1.3,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
8,18.0,8.3,0.6,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
9,17.0,9.0,0.8,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
10,26.0,9.0,1.0,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
11,18.0,9.2,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
12,14.0,7.5,1.2,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
13,11.0,7.2,1.6,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
14,20.0,9.3,0.3,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
15,18.0,9.3,1.7,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
16,18.0,8.6,0.9,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
17,15.0,8.9,1.4,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
18,16.0,8.0,1.2,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
19,20.0,7.3,1.0,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
21,21.0,8.9,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
22,16.0,5.0,0.8,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
23,15.0,5.5,1.6,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
24,27.0,8.9,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004040
27,16.0,0.0,1.6,Seville,2022-11-13,2,2022-10-16 10:44:55.004040

In [70]:
DB.totalSize()

40960

In [72]:
DB.addPandasDf(df_all)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\fsgl1\AppData\Local\Temp\ipykernel_12176\3216696907.py", line 1, in <cell line: 1>
    DB.addPandasDf(df_all)
  File "c:\Users\fsgl1\Documents\programming\hostelprices\notebooks\..\src\hostelprices\database.py", line 35, in addPandasDf
    raise MemoryError(f'Data base size limit ({self.limit_KB/1000} MB) exceeded.')
MemoryError: Data base size limit (0.1 MB) exceeded.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "c:\Users\fsgl1\anaconda3\envs\py39venv\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [22]:
request_dct = {'city': 'Seville', 'price (EUR)': 29}
df = DB.getPandasDf(request_dct)

In [23]:
df

,_id,price (EUR),rating,distance (km),city,date_from,duration (days),request_time
0,634bc4876afaa1f75ce3bd3f,29.0,9.6,1.1,Seville,2022-11-13,2,2022-10-16 10:44:55.004

In [21]:
DB.db.list_collection_names()

['price_coll', 'test_coll']

In [47]:
DB.db.command("dbstats")

{'db': 'HOSTEL_PRICE_DATA',
 'collections': 2,
 'views': 0,
 'objects': 333,
 'avgObjSize': 161.3093093093093,
 'dataSize': 53716,
 'storageSize': 81920,
 'totalFreeStorageSize': 0,
 'numExtents': 0,
 'indexes': 2,
 'indexSize': 77824,
 'indexFreeStorageSize': 0,
 'fileSize': 0,
 'nsSizeMB': 0,
 'ok': 1}

In [48]:
DB.clear()

In [49]:
DB.totalSize()

86016